<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!---- Website Information ---->
<title></title>
<meta name="description" content="">

<!-- Favicon icon -->
<!-- NFTMax Stylesheet -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome-all.min.css">
<link rel="stylesheet" href="/css/charts.min.css">
<link rel="stylesheet" href="/css/slickslider.min.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slickslider.min.js"></script>
<script src="/js/charts.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/final-countdown.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/main.js"></script>

