<header class="nftmax-header">
    <div class="container">
        <div class="row g-50">
            <div class="col-12">
                <!-- Dashboard Header -->
                <div class="nftmax-header__inner">
                    <div class="nftmax__sicon close-icon d-xl-none"><img src="/images/menu_btn.png" style="max-height: 40px;max-width: 40px;"></div>
                    <div class="nftmax-header__left">
                        <!-- Search Form -->
                        <!-- End Search Form -->
                    </div>
                    <div class="nftmax-header__right">
                        <div class="nftmax-header__group">
                            <!-- Search Form -->
                            <!-- End Search Form -->
                            <div class="nftmax-header__author">
<!--                                <div class="nftmax-header__author-img" style="margin-right: 30px;"><h2>CNFT</h2></div>-->
<!--                                <div class="nftmax-header__author-content">-->
<!--                                    <p class="nftmax-header__author-text v1"></p>-->
<!--                                </div>-->

                                <div class="nftmax-header__amount nftmax-btn nftmax-btn__bordered bg radius">
                                    <div class="nftmax-amount__icon"><img src="/images/bag-icon.svg" alt="#"></div>
                                    <div class="nftmax-amount__digit"><%=airdropPrice.toLocaleString('ko-KR')%></div>
                                    <div class="nftmax-amount__icon"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function fnCopy(_data) {

        fnAlertModal('복사되었습니다.');

        const t = document.createElement("textarea");
        document.body.appendChild(t);
        t.value = _data;
        t.select();
        document.execCommand('copy');
        document.body.removeChild(t);
    }

    function fnAlertModal(text) {
        Swal.fire({
            title: "알림",
            text: text,
            heightAuto: false,
            showCloseButton: true,
        });
    }

    function fnRedirectModal(text, url) {
        Swal.fire({
            title: "알림",
            text: text,
            type: "success",
            heightAuto: false,
            allowOutsideClick: false,
        }).then(function (result) {
            if (true) {
                window.location = url;
            }
        });
    }

    function fnRefreshModal(text) {
        Swal.fire({
            text: text,
            heightAuto: false,
        }).then((result) => {
            if (result.isConfirmed) {
                location.reload();
            }
        })
    }

    function numberComma(str) {
        if(null == str){
            return '';
        }
        let split = str.toString().split(".");
        if (split.length == 2) {
            let first = split[0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            let second = split[1].toString().replace("," , "");
            return first + "." + second;
        } else {
            return str.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    }

    function noneNumberComma(str) {
        return str.toString().replace(",", "");
    }

    function nullChk(obj){
        let rtn = true;
        if(null == obj || !obj  || obj === undefined){
            rtn = false;
        }
        return rtn;
    }

</script>
<style>
    .nftmax-header__amount{
        height: 38px;
    }
</style>