<header class="">
    <div class="w-full">
        <div class="flex items-center justify-between">
            <h2 class="text-sm font-medium">Welcome !</h2>
            <div class="text-xl font-bold">
                Dear<span class="pl-1 text-blue-600"><%= userId %>!</span>
            </div>
        </div>
    </div>
</header>