<!-- Modal View Start : Alam Modal -->
<div class="modal fade" id="viewAlarm" tabindex="-1" aria-labelledby="viewAlarmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="flex items-center px-5 py-2 text-sm text-black bg-gray-200">
                <h5 class="flex items-center" id="viewAlarmLabel">Alert</h5>
            </div>
            <div id="modal-text" class="px-5 py-2 text-xs text-black">
            </div>
            <div class="mb-2 modal-footer">
                <button type="button" class="px-6 py-2 text-xs btn btn-dark" data-bs-dismiss="modal">
                    확인
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal View End : Alam Modal -->