<!-- Modal View Start : Alam Modal -->
<div class="modal fade" id="viewAlarm" tabindex="-1" aria-labelledby="viewAlarmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="flex items-center px-5 py-2 text-sm bg-gray-200">
                <h5 class="flex items-center" id="viewAlarmLabel">Alert</h5>
            </div>
            <div id="modal-text" class="px-5 py-2 text-xs">
            </div>
            <div class="mb-2 modal-footer">
                <button type="button" class="px-6 py-2 text-xs btn btn-dark" data-bs-dismiss="modal">
                    확인
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal View End : Alam Modal -->

<!-- Modal View Start : Alam Modal -->
<div class="modal fade" id="viewConfirmAlarm" tabindex="-1" aria-labelledby="viewConfirmAlarmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="flex items-center px-5 py-2 text-sm bg-gray-200">
                <h5 class="flex items-center" id="viewConfirmAlarmLabel">Alert</h5>
            </div>
            <div id="viewConfirmText" class="px-5 py-2 text-xs">
            </div>
            <div class="mb-2 modal-footer">
                <button type="button" class="px-6 py-2 text-xs btn btn-dark" id="confirmProc">
                    확인
                </button>
                <button type="button" class="px-6 py-2 text-xs btn btn-dark" data-bs-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal View End : Alam Modal -->

<!-- Modal View Start : Alam Modal -->
<div class="modal fade" id="viewRefreshAlarm" tabindex="-1" aria-labelledby="viewRefreshAlarmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="flex items-center px-5 py-2 text-sm bg-gray-200">
                <h5 class="flex items-center" id="viewRefreshAlarmLabel">Alert</h5>
            </div>
            <div id="viewRefreshText" class="px-5 py-2 text-xs">
            </div>
            <div class="mb-2 modal-footer">
                <button type="button" class="px-6 py-2 text-xs btn btn-dark" onclick="location.reload();">
                    확인
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal View End : Alam Modal -->

<script>
    function fnViewConfirmAlarm(title, content, callback, data) {
        $("#viewConfirmAlarmLabel").html(title);
        $("#viewConfirmText").html(content)
        $("#confirmProc").attr('onclick', callback);
        $("#viewConfirmAlarm").modal('show');
    }

    function fnViewRefreshAlarm(content) {
        $("#viewRefreshText").html(content);
        $("#viewRefreshAlarm").modal('show');
    }
</script>