<div class="sidebar">
    <div class="menu">
        <ul>
            <li>
                <a href="/p/buyview">
                    <span><i class="ri-layout-grid-fill"></i></span>
                    <span class="nav-text">Main</span>
                </a>
            </li>
            <li class="">
                <a href="/p/buy">
                    <span><i class="ri-star-line"></i></span>
                    <span class="nav-text">Buy</span></a>
            </li>
            <li class="">
                <a href="/p/view">
                    <span><i class="ri-wallet-line"></i></span>
                    <span class="nav-text">Transaction</span></a>
            </li>
            <li class=" logout">
                <a href="/logout">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Signout</span>
                </a>
            </li>
        </ul>
    </div>
</div>