<div class="absolute bottom-0 right-0 flex items-center justify-center w-full mt-5">
    <nav class="w-full h-full py-4 bg-gray-900 md:rounded-b-3xl border0">
        <ul class="flex justify-center gap-20">
            <li class="flex items-center justify-center duration-150 ease-out shadow btn-rounded btn-cancel hover:bg-red-500 hover:border-red-400">
                <a href="/p/buyview">
                    <i class="bx bx-home bx-sm"></i>
                </a>
            </li>
            <li class="flex items-center justify-center duration-150 ease-out shadow btn-rounded btn-cancel hover:bg-red-500 hover:border-red-400">
                <a href="/p/view">
                    <i class="bx bxs-category bx-sm"></i>
                </a>
            </li>
            <li class="flex items-center justify-center duration-150 ease-out shadow btn-rounded btn-cancel hover:bg-red-500 hover:border-red-400">
                <a href="/p/buy"><i class="bx bxs-shopping-bag-alt bx-sm"></i></a>
            </li>
        </ul>
    </nav>
</div>
