<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%=config.found_text%> | signUp</title>
</head>
<body class="@@dashboard">
<div class="authincation section-padding">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="mini-logo text-center my-4"><a href="/"><img src="/images/logo-dark.png" alt=""></a>
                    <h4 class="card-title mt-5">Sign Up</h4>
                </div>
                <div class="auth-form card">
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label class="form-label">ID</label>
                                    <input type="text" class="form-control" id="id" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label">이메일</label>
                                    <input type="text" class="form-control" id="email" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label">비밀번호</label>
                                    <input type="password" class="form-control" id="password" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label">비밀번호 재확인</label>
                                    <input type="password" class="form-control" id="chkPassword" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label">이름</label>
                                    <input type="text" class="form-control" id="name" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label">예금주</label>
                                    <input type="text" class="form-control" id="acc_nm" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label">은행명</label>
                                    <select class="form-control" id="bank_code">
                                        <option value="">선택</option>
                                        <option value="002">산업은행</option>
                                        <option value="003">기압은행</option>
                                        <option value="004">국민은행</option>
                                        <option value="007">수협은행</option>
                                        <option value="011">NH농협은행</option>
                                        <option value="012">농협중앙회</option>
                                        <option value="020">우리은행</option>
                                        <option value="023">SC제일은행</option>
                                        <option value="027">한국씨티</option>
                                        <option value="031">대구은행</option>
                                        <option value="032">부산은행</option>
                                        <option value="034">광주은행</option>
                                        <option value="035">제주은행</option>
                                        <option value="037">전북은행</option>
                                        <option value="039">경남은행</option>
                                        <option value="045">새마을금고</option>
                                        <option value="048">신협</option>
                                        <option value="064">산림조합</option>
                                        <option value="071">우체국</option>
                                        <option value="081">하나은행</option>
                                        <option value="088">신한은행</option>
                                        <option value="089">케이뱅크</option>
                                        <option value="090">카카오뱅크</option>
                                        <option value="092">토스뱅크</option>
                                    </select>
                                </div>
                                <div class="col-9 mb-3">
                                    <label class="form-label">계좌번호</label>
                                    <input type="text" class="form-control" id="bank_acc" onkeyup="numCheck(this);" value="">
                                    평생계좌, 가상계좌 등 본의명의 실계좌가 아닐경우 1원인증이 어렵습니다.
                                </div>
                                <div class="col-3" style="margin-top: 2rem;">
                                    <a href="#n" class="btn btn-primary mr-2" id="bankAuthBtn" onclick="sendAccAuth();">전송</a>
                                </div>
                                <div class="col-9 mb-3">
                                    <label class="form-label">계좌인증</label>
                                    <input type="text" class="form-control" id="verifyVal" value="">
                                    <input type="hidden" id="accSeq" value="">
                                    전송된 인증 문구를 입력해 주세요.
                                </div>
                                <div class="col-3" style="margin-top: 2rem;">
                                    <a href="#n" class="btn btn-primary mr-2" id="accAuthBtn" onclick="accAuth();">인증</a>
                                </div>
                                <div class="col-9 mb-3">
                                    <label class="form-label">핸드폰번호</label>
                                    <input type="text" class="form-control" id="hp" value="">
                                </div>
                                <div class="col-3" style="margin-top: 2rem;">
                                    <a href="#n" class="btn btn-primary mr-2" onclick="sendCertNum();">전송</a>
                                </div>
                                <div class="col-9 mb-3">
                                    <label class="form-label">인증번호</label>
                                    <input type="text" class="form-control" id="cert_num" value="">
                                    <input type="hidden" id="seq">
                                </div>
                                <div class="col-3" style="margin-top: 2rem;">
                                    <a href="#n" class="btn btn-primary mr-2" onclick="checkCertNum();">확인</a>
                                </div>
                            </div>
                            <div class="mt-3 d-grid gap-2">
                                <a href="#n" class="btn btn-primary mr-2" onclick="signUp();">Sign Up</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="mt-3 mb-0">
                                <a class="text-primary" href="/login">login</a> to your account
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    let accConfirm = false;
    function signUp() {
        if ($("#id").val() == '') {
            fnViewAlarm('아이디를 입력해 주세요.');
            return;
        }
        if ($("#email").val() == '') {
            fnViewAlarm('이메일을 입력해 주세요.');
            return;
        } else {
            let filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!filter.test($("#email").val())) {
                fnViewAlarm('이메일 형식을 확인해 주세요.');
                return;
            }
        }


        if ($("#password").val() == '') {
            fnViewAlarm('비밀번호를 입력해 주세요.');
            return;
        } else {
            if (!passChk()) {
                return;
            }
        }

        if ($("#chkPassword").val() == '') {
            fnViewAlarm('비밀번호를 입력해 주세요.');
            return;
        }

        if ($("#password").val() != $("#chkPassword").val()) {
            fnViewAlarm('비밀번호를 확인해 주세요.');
            return;
        }

        if ($("#name").val() == '') {
            fnViewAlarm('이름를 입력해 주세요.');
            return;
        }

        if ($("#acc_nm").val() == '') {
            fnViewAlarm('예금주를 입력해 주세요.');
            return;
        }

        if ($("#bank_code").val() == '') {
            fnViewAlarm('은행명를 선택해 주세요.');
            return;
        }

        if ($("#bank_acc").val() == '') {
            fnViewAlarm('계좌번호를 입력해 주세요.');
            return;
        }

        if (!accConfirm) {
            fnViewAlarm('계좌인증을 진행해 주세요.');
            return;
        }

        if ($("#hp").val() == '' || $("#cert_num").val() == '') {
            fnViewAlarm('핸드폰 인증을 진행해 주세요.');
            return;
        }

        if ($("#seq").val() == '') {
            fnViewAlarm('핸드폰 인증을 진행해 주세요.');
            return;
        }

        wrapWindowByMaskShow();

        let data = {
            id: $("#id").val(),
            email : $("#email").val(),
            password: $("#password").val(),
            name: $("#name").val(),
            acc_nm: $("#acc_nm").val(),
            bank_nm: $("#bank_code option:checked").text(),
            bank_code: $("#bank_code").val(),
            bank_acc: $("#bank_acc").val(),
            hp: $("#hp").val(),
            seq: $("#seq").val(),
        }

        $.ajax({
            url: '/m/signUpProc',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    fnViewLocationAlarm(result.message, '/login');
                } else {
                    fnViewAlarm(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnViewAlarm('회원가입시 문제가 발생하였습니다.');
            } //function끝
        });
    }

    function sendCertNum() {
        if ($("#hp").val() == '') {
            fnViewAlarm('핸드폰번호를 입력해 주세요.');
            return;
        }

        let data = {
            hp: $("#hp").val()
        }

        $.ajax({
            url: '/m/sendCertNum',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                if (result.success) {
                    fnViewAlarm(result.message);
                    $("#hp").attr('readonly', true);
                    $("#seq").val(result.data.seq);
                } else {
                    fnViewAlarm(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('회원가입시 문제가 발생하였습니다.');
            } //function끝
        });
    }

    function checkCertNum() {
        if ($("#cert_num").val() == '') {
            fnViewAlarm('인증번호를 입력해 주세요.');
            return;
        }

        let data = {
            seq: $("#seq").val(),
            cert_num: $("#cert_num").val(),
        }

        $.ajax({
            url: '/m/checkCertNum',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                if (result.success) {
                    fnViewAlarm(result.message);
                    $("#cert_num").attr('readonly', true);
                } else {
                    fnViewAlarm(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('회원가입시 문제가 발생하였습니다.');
            } //function끝
        });
    }

    function numCheck(obj) {
        var num = obj.value;
        obj.value = num.replace(/[^0-9]/g, "");
        obj.focus();
    }

    function passChk() {
        var pattern1 = /[0-9]/;
        var pattern2 = /[a-zA-Z]/;
        var pw = $("#password").val();
        var pattern3 = /[~!@\#$%<>^&*]/;

        if (!pattern1.test(pw) || !pattern2.test(pw) || !pattern3.test(pw) || pw.length<8 || pw.length>50){
            fnViewAlarm("영문+숫자+특수기호 8자리 이상으로 구성하여야 합니다.");
            return false;
        } else {
            return true;
        }
    }

    function sendAccAuth() {
        if ($("#acc_nm").val() == '') {
            fnViewAlarm("예금주명을 입력해 주세요.");
            return;
        }
        if ($("#bank_nm").val() == '') {
            fnViewAlarm("은행명을 선택해 주세요.");
            return;
        }

        if ($("#bank_acc").val() == '') {
            fnViewAlarm("계좌번호를 입력해 주세요.");
            return;
        }

        let data = {
            bank_code: $("#bank_code").val(),
            bank_acc: $("#bank_acc").val(),
            acc_nm: $("#acc_nm").val(),
            bank_info : $("#bank_code option:checked").text()
        }

        wrapWindowByMaskShow();

        $.ajax({
            url: '/m/sendAccAuth',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    fnViewAlarm(result.message);
                    $("#acc_nm").attr('readonly', true);
                    $("#bank_acc").attr('readonly', true);
                    $("#bank_code").attr('readonly', true);
                    $("#bankAuthBtn").attr('onclick', '');
                    $("#accSeq").val(result.data);
                } else {
                    if (result.code == '400') {
                        fnViewAlarm(result.message);
                        $("#acc_nm").attr('readonly', true);
                        $("#bank_acc").attr('readonly', true);
                        $("#bank_code").attr('readonly', true);
                        $("#bankAuthBtn").attr('onclick', '');
                        $("#accSeq").val(result.data.seq);
                    } else {
                        fnViewAlarm(result.message);
                    }
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnViewAlarm('계좌인증시 문제가 발생하였습니다.');
            } //function끝
        });
    }

    function accAuth() {
        let data = {
            seq: $("#accSeq").val(),
            verifyVal: $("#verifyVal").val(),
        }

        wrapWindowByMaskShow();

        $.ajax({
            url: '/m/accAuth',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                console.log(result);
                if (result.success) {
                    $("#verifyVal").attr('readonly', true);
                    $("#accAuthBtn").attr('onclick', '');
                    accConfirm = true;
                    fnViewAlarm(result.message);
                } else {
                    if (result.code == '501') {
                        fnViewAlarm(result.message);
                        $("#verifyVal").val("");
                        $("#bankAuthBtn").attr('onclick', 'sendAccAuth();');
                    }
                    fnViewAlarm(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnViewAlarm('계좌인증시 문제가 발생하였습니다.');
            } //function끝
        });
    }
</script>